@using CommentAndReply.Core.Domain.Entities
@model List<ReplyComment>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" type="text" href="~/css/Home/Replys.css" />
</head>
<article>
    <div>
        <table class="comment-table">
            <tr class="header-table">
                <th>نام کاربر</th>
                <th>شماره کاربر</th>
                <th>کامنت کاربر</th>
                <th>تاریخ کامنت</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="content-table">
                    <th>@item.Name</th>
                    <th>@item.PhoneNumber</th>
                    <th>@item.CommentText</th>
                    <th>@item.CommentDate</th>
                </tr>
            }
        </table>
    </div>
</article>