@model Comment
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link type="text" rel="stylesheet" href="~/css/Home/CommentReply.css"/>
</head>
<article>
    <div>
        <table>
            <tr>
                <th>نام کاربر</th>
                <th>شماره کاربر</th>
                <th>کامنت کاربر</th>
                <th>تاریخ کامنت</th>
            </tr>
            <tr>
                <th>@Model.Name</th>
                <th>@Model.PhoneNumber</th>
                <th>@Model.CommentText</th>
                <th>@Model.CommentDate</th>
            </tr>
            }
        </table>
    </div>
    @await Component.InvokeAsync("Replys",Model.Id)
    @await Component.InvokeAsync("AddReplysForm",Model.Id)
</article>