@using CommentAndReply.Core.Domain.Entities
@model Comment
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Index.css" />
</head>
<article>
    <div>
        <form asp-action="Index" asp-controller="Home" class="Comment-form">
            <div>
                <label asp-for="Name"  class="label-form">نام  کاربر</label>
                <input asp-for="Name" type="text" placeholder="نام خود را وارد کنید" class="input-form">
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for ="PhoneNumber" class="label-form">شماره تلفن</label>
                <input asp-for="PhoneNumber" type="number" placeholder="شماره خود را وارد کنید" class="input-form">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div>
                <label asp-for="CommentText" class="label-form">متن کامنت</label>
                <textarea asp-for="CommentText" type="textarea" placeholder="متن کامنت خود را وارد کنید" class="input-form"></textarea>
                <span asp-validation-for="CommentText"></span>
            </div>
            <button type="submit" class="button-form">ارسال</button>
        </form>
    </div>
</article>
<article>
        @await Component.InvokeAsync(name:"Comments")
</article>